/* laptop-view */
@media screen and (max-width: 1366px) {

    /* side-bar */
    .side-bar {
        width: 14%;
    }

    .side-img {
        height: 200px;
    }

    .name {
        height: 35px;
    }

    .name h2 {
        font-size: 18px;
    }

    .link-icon-1 a {
        font-size: 16px;
        padding: 12px 0 0 25px;
    }

    .link-icon a {
        font-size: 16px;
        padding: 12px 0 0 25px;
    }

   .card {
    padding: 0;
   }
   .social-container {
    height: 27px;
    width: 27px;
   }
   .social-svg .fa-brands {
    font-size: 18px;
   }

    .footer-text {
        font-size: 12px;
        padding: 5px;
        margin-top: 5px;
    }

    /* side-bar-end */

    .content-page {
        width: 86%;
        /* margin-left: 12%; */
        position: absolute;
        right: 0;
    }


    /* about-page */
    .about-cont {
        margin-top: 70px;
       
       
    }

    .my-self {
        width: 60%;
        /* background-color: red; */
    }
    .my-self p {
        margin: 20px 0px 30px 0px;
    }

    .my-img {
        height: 440px;
        width: 500px;
        margin-left: 40px;
        background-color: yellow;
    }

    .my-self h2 {
        font-size: 30px;
    }

    .my-name {
        font-size: 40px;
    }

    .my-self p {
        font-size: 15px;
    }

    .resume-btn {
        font-size: 16px;
        
    }

    /* about-page-end */


    /* resume-page */

    .resume-cont {
        width: 90%;
    }

    .resume-row {
        width: 90%;
        gap: 30px;
    }

    .skill-cont {
        width: 90%;
    }
    .skill-row {
        width: 90%;
    }

    /* resume-page-end */



    /* work-page */
    .swiper {
        height: 350px;
    }
    .work-row-images {
        height: 350px;
        width: 330px;
    }
    .preview-box h2 {
        font-size: 18px;
    }
    
    .work-cont {
        margin: 0;
    }
    
    /* work-page */



    /* contact */

    .cont-row {
        width: 85%;
        margin-top: 45px;
    }

    .contact-cont {
        width: 90%;
        gap: 30px;
    }

    .contact-img {
        padding: 0;
    }
     
}
/* laptop-end */








/* ----------- Mobile view ---------- */

@media screen and (max-width: 800px) {


    .mob-hamb {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: black;
        z-index: 9999 !important;
        color: white;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
    }

    .mob-hamb i {
        font-size: 25px;
    }

    .side-bar {
        width: 250px;
        left: -100%;
    }

    .side-img {
        height: 250px;
    }

    .social-container {
        height: 40px;
        width: 40px;
    }
   .social-svg .fa-brands {
        font-size: 23px;
    }
    .footer-text {
        font-size: 16px;
        margin-top: 8px;
    }

    .name {
        display: none;
    }

    .content-page {
        margin: auto;
        width: 100%;
    }

    .page {
        width: 100%;
        height: auto;
    }


    /* about-page */

    .about-page {
        overflow: hidden;
        z-index: 999;
    }

    .about-cont {
        flex-direction: column;
        align-items: center;
        margin: 30px 0 90px 0;
        gap: 0;
    }

    .all-head {
        margin-top: 50px;
    }

    .my-self {
        height: auto;
        width: 100%;
    }

    .self {
        display: none;
    }

    .mai {
        display: none;
    }

    .my-self h2 {
        font-size: 28px;
        text-align: center;
        margin: 0;
        margin-top: -20px;
   
    }

    .my-name {
        font-size: 45px;
        font-weight: 500;

    }

    .my-self p {
        font-size: 15px;
        text-align: center;
        margin: 18px 0px 30px 0px;
    }

    .resume-btn {
        padding: 10px 20px;
        font-size: 14px;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .my-img {
        height: 340px;
        width: 340px;
        margin: 0;
    }

    /* resume-page */
    .resume-page {
        overflow: hidden;
    }

    .resume-cont {
        margin: 30px;
    }

    .resume-row {
        flex-direction: column;
    }

    .skill-row {
        flex-direction: column;
        margin: 0;

    }

    .information {
        width: fit-content;
    }

    .skill-cont {
        background: none;
        margin: 0;
    }

    .skill-box {
        width: 100%;
        padding: 0;
    }

    .skill-items {
        width: 100%;
        margin-bottom: 50px;
    }

    /* resume-end */



    /* work-start*/
    
    .last-project {
        font-size: 22px;
        font-weight: 500;
        margin: 0;
    }

    .line {
        height: 5px;
        width: 140px;
        background-color: red;
        margin: 7px 0;
        border-radius: 4px;
    }
    .work-cont{
        margin: 0;
    }
    .work-row-2-cont {
        flex-direction: column;
    }
    
    .live-preview {
        height: fit-content;
        opacity: 1;
        backdrop-filter: blur(10px);
        position: absolute;
        bottom: 50px;
    }

    /* work-end */

    
    /* contact-page */
    .contact-page {
        height: auto;
    }
    .cont-row {
        height: auto;
        margin: 0;
    }

    .contact-cont {
        flex-direction: column;
        margin: 30px 0;
    }

    .contact-detail {
        height: auto;
        width: 93%;
        gap: 10px;
    }

    .contact-detail h1 {
        margin-top: 10px;
        font-size: 30px;
    }
    .contact-detail p {
        font-size: 16px;
    }
    /* .num .emm {
        font-size: 14px;
    } */

    .contact-images {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    /* contact-page-end */

}